<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.dgsw.pastvoca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PastVoca">
        <activity
            android:name=".view.activity.PermissionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FloatingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.dialog.ClipboardDialog"
            android:exported="false"
            android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" />

        <service
            android:name=".service.ClipboardService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.activity.ClipboardActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.WordCheckActivity"
            android:exported="false"
            android:label="@string/title_activity_word_check"
            android:theme="@style/Theme.PastVoca.NoActionBar" />
        <activity
            android:name=".view.activity.AddVocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.AddWordActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>